body {
  font-family: "Inter", sans-serif;
  background-color: #262626;
}

/* ALL Size */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: 500;
  color: white !important;
}
.nav-link {
  font-weight: 500;
  color: white !important;
}
.hero-sections h1 {
  font-weight: 300;
  color: white;
}
.hero-sections h1 span {
  font-weight: 500;
  background: linear-gradient(93.97deg, #4cdc86 30.89%, #dc9a4c 87.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.btn-more {
  border-radius: 6px;
  border-image: linear-gradient(93.97deg, #4cdc86 30.89%, #dc9a4c 87.52%);
  border-image-slice: 30%;
  border-style: 10px solid;
  border-radius: 6px;
  color: white;
}
.btn-more:hover {
  color: white;
}

.btn-selected {
  color: white;
}
.btn-selected:hover {
  color: white;
}
.btn {
  border-radius: 6px;
  padding: 8px 16px;
}
/* Podcast App Sections */
#podcast-section {
  margin-top: 7.5rem;
}
#podcast-section .title-podcast {
  background: linear-gradient(93.97deg, #4cdc86 30.89%, #dc9a4c 87.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 2rem;
}
#podcast-section .deskripsi-podcast {
  color: #bcbcbc;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1rem;
}
#podcast-section .img-podcast {
  margin-top: 1rem;
}
/* End of Podcast App Sections */
/* ALL Size */

/* DESKTOP */
@media (min-width: 1200px) {
  /* Hero Sections */
  .container {
    max-width: 70%;
  }
  .nav-link {
    margin-left: 2.5rem;
  }

  .hero-sections {
    margin-top: 7.5rem;
  }

  .hero-sections h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: white;
  }
  .hero-sections h1 span {
    font-weight: 500;
    background: linear-gradient(93.97deg, #4cdc86 30.89%, #dc9a4c 87.52%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .btn-hero {
    margin-top: 40px;
  }
  .btn-more {
    border-radius: 6px;
    border-image: linear-gradient(93.97deg, #4cdc86 30.89%, #dc9a4c 87.52%);
    border-image-slice: 30%;
    border-style: 10px solid;
    border-radius: 6px;
    color: white;
  }
  .btn-more:hover {
    color: white;
  }

  .btn-selected {
    color: white;
  }
  .btn-selected:hover {
    color: white;
  }

  /* End of Hero Section */
}
/* DESKTOP */

/* TABLET */
@media (min-width: 768px) and (max-width: 1199.98px) {
  .container {
    max-width: 80%;
  }
  .hero-sections {
    margin-top: 7.75rem;
  }

  .hero-sections h1 {
    font-size: 2.25rem;
    font-weight: 300;
  }
  .hero-sections h1 span {
    font-weight: 500;
  }
  .img-hero {
    width: 100%;
    margin-top: 32px;
  }

  .btn-hero {
    margin-top: 32px;
  }
}
/* TABLET */

/* Mobile */
@media (min-width: 2px) and (max-width: 767.98px) {
  .container {
    max-width: 95%;
  }
  .hero-sections {
    margin-top: 3.75rem;
  }

  .btn {
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 12px;
  }

  .hero-sections h1 {
    font-size: 2rem;
    font-weight: 300;
  }
  .hero-sections h1 span {
    font-weight: 500;
  }
  .img-hero {
    width: 100%;
    margin-top: 32px;
  }

  .btn-hero {
    margin-top: 32px;
  }
  .nav-link {
    text-align: center;
  }
}
/* Mobile */
