:root {
  --white: #fff;
  --grey: #616161;
  --light-grey: #f0f0f0;
  --black: #000;
  --padding-button: 12px 16px;
  --font-sm: 0.9rem;
  --font-md: 1.25rem;
  --font-lg: 2.5rem;
  --font-elg: 4.5rem;
  --border-radius: 6px;
  --shadow-box: 0px 0px 1px rgba(0, 0, 0, 0.3);
  --shadow-img: drop-shadow(0px 27px 11px rgba(0, 0, 0, 0.01)) drop-shadow(0px 15px 9px rgba(0, 0, 0, 0.05)) drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.09)) drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
  --line-height: 60px;
}

.container {
  width: 70%;
}
body {
  background-color: var(--light-grey);
  font-family: "Work Sans", sans-serif;
  padding: 0;
}
/* Style for Desktop */
/* NAVBAR */
.nav-item .nav-link {
  color: var(--grey);
  font-weight: 400;
  margin-left: 24px;
}
.nav-item .nav-link.active {
  color: var(--black);
  font-weight: 500;
  text-decoration: underline;
}
/* NAVBAR */
/* HERO SECTION */
#header-section {
  margin-top: 100px;
}

.text-name {
  font-size: var(--font-md);
  font-weight: 500;
  color: var(--black);
  line-height: 24px;
}
.text-hero {
  font-size: var(--font-elg);
  font-weight: 700;
  margin-top: 12px;
  line-height: 72px;
}
.text-available {
  font-size: var(--font-md);
  color: var(--grey);
  display: flex;

  margin-top: 12px;
}

.text-available .typing {
  margin-left: 5px;
  position: relative;
}
.text-available .typing::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 90%;
  border-right: 1px solid #000000;
  animation: blink 0.5s infinite ease;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-main {
  color: var(--white);
  background-color: var(--black);
  font-size: var(--font-sm);
  line-height: 24px;
  border-radius: var(--border-radius);
  padding: var(--padding-button);
  text-decoration: none;
  margin-top: 60px;

  display: inline-block;
}
.btn-main:hover {
  color: var(--white);
  background-color: var(--grey);
}
.btn-secondary {
  color: var(--black);
  background-color: transparent;
  font-size: var(--font-sm);
  line-height: 24px;
  border: 1px solid var(--black);
  border-radius: var(--border-radius);
  padding: var(--padding-button);
  text-decoration: none;
  margin-top: 60px;
  margin-left: 8px;
  display: inline-block;
}
.btn-secondary:hover {
  color: var(--grey);
  background-color: transparent;
  font-size: var(--font-sm);
  line-height: 24px;
  border: 1px solid var(--grey);
  border-radius: var(--border-radius);
  padding: var(--padding-button);
  text-decoration: none;
  margin-top: 60px;

  display: inline-block;
}
/* HERO SECTION */
/* PROJECT SECTION */
#projects-section {
  margin-top: 150px;
}
.title-project {
  color: var(--black);
  font-size: var(--font-lg);
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.0011em;
}
.title-paragraf {
  color: var(--grey);
  font-size: var(--font-sm);
  line-height: 24px;
}
.canvas-img {
  padding: 60px;
  background-color: var(--white);
  margin-top: 60px;
  margin-bottom: 120px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-box);
}
.canvas-img img {
  width: 100%;
  filter: var(--shadow-img);
}
/* PROJECT SECTION */
/* BLOG */
.card {
  border: none;
  box-shadow: var(--shadow-box);
}
.card-body {
  z-index: 1;
  margin-top: -100px;
  width: 90%;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.card-img-top {
  filter: var(--shadow-img);
}
.blog-preview {
  margin-top: 60px;
}
.date-blog {
  font-size: var(--font-sm);
  color: var(--grey);
  line-height: 24px;
  margin-bottom: 12px;
}
.title-blog {
  font-size: var(--font-md);
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 12px;
}
.paragraf-blog {
  font-size: var(--font-sm);
  font-weight: 400;
  color: var(--grey);
  margin-bottom: 12px;
}
.link-blog {
  color: var(--black);
}
.link-blog:hover {
  color: var(--grey);
}
/* BLOG */

/* FOOTER */
footer hr {
  opacity: 1;
  color: #616161;
}
footer .container {
  margin-top: 120px;
  margin-bottom: 60px;
}
.text-footer {
  font-size: var(--font-md);
  line-height: 32px;
  color: var(--grey);
}
.text-footer span a {
  font-weight: 500;
  color: var(--black);
  text-decoration: underline;
}
.text-footer span a:hover {
  font-weight: 500;
  color: var(--grey);
  text-decoration: underline;
}

footer ul {
  display: flex;
  justify-content: start;
}
footer ul li {
  list-style: none;
}
.icon-socmed a {
  margin-right: 12px;
}
/* FOOTER */
/* Style for Desktop */

/* Style for Mobile */
@media (max-width: 575.98px) {
  .container {
    width: 90%;
  }
  .navbar-nav {
    text-align: center;
  }
}

/* Style for Mobile */
